%cx-add-to-wishlist {
  @include media-breakpoint-up(lg) {
    grid-column: 2;
    padding: 0px 20px;
    // Workaround for limitation, fixed in calydon
    grid-row: 3;
    align-self: end;
    margin-bottom: -5px;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 55px;
  }
  // End of workaround

  .btn {
    text-transform: none;
  }

  .button {
    &-remove {
      vertical-align: inherit;
    }

    &-add,
    &-remove {
      padding: 0;
      font-size: 1rem;
    }

    &-text {
      margin-left: 0.3em;
    }

    &-add-link {
      padding-left: 0;
    }
  }
}
