<!-- <ng-container *ngFor="let product$ of products$ | async">
  <ng-container *ngIf="product$ | async as product">
    {{ product | json }}
  </ng-container>
</ng-container> -->

<cx-carousel
  [items]="products$ | async"
  [template]="carouselItem"
  itemWidth="25%"
>
</cx-carousel>

<ng-template #carouselItem let-item="item">
  <!-- {{ getProduct(item) | async | json }} -->

  <upscale-aspect-ratio-image
    *ngIf="getProduct(item) | async as product"
    [content]="{
      url: product.images.PRIMARY?.product.url,
      headline: product.name,
      subHeadline: product.price.formattedValue
    }"
  ></upscale-aspect-ratio-image>

  <!-- <upscale-aspect-ratio-image [content]="item | async"
  ></upscale-aspect-ratio-image> -->
</ng-template>
