<cx-interactive-table
  [data$]="data$"
  [header]="'orderApprovalList.header' | cxTranslate"
  [sortLabels]="{
    byOrderNumber: 'orderApprovalList.sorting.byOrderNumber' | cxTranslate,
    byDate: 'orderApprovalList.sorting.byDate' | cxTranslate
  }"
  [columns]="[
    {
      key: 'code',
      value: 'orderApprovalList.code' | cxTranslate,
      cxRoute: 'orderApprovalsDetails'
    },
    { key: 'POCode', value: 'orderApprovalList.POCode' | cxTranslate },
    { key: 'placedBy', value: 'orderApprovalList.placedBy' | cxTranslate },
    {
      key: 'date',
      value: 'orderApprovalList.date' | cxTranslate
    },
    {
      key: 'status',
      value: 'orderApprovalList.status' | cxTranslate
    },
    {
      key: 'total',
      value: 'orderApprovalList.total' | cxTranslate
    }
  ]"
  (pageChange)="pageChange($event)"
  (changeSortCode)="changeSortCode($event)"
>
</cx-interactive-table>
