%MultiStepCheckoutSummaryPageTemplate-2_3 {
  cx-delivery-mode {
    transform: rotate(180deg);
    background-color: darkgray;
    h3 {
      color: red;
      text-transform: uppercase;
    }
  }
}
