<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="entries$ | async as entries">
    <div
      class="cart-details-wrapper"
      *ngIf="entries.length > 0; else cartEmpty"
    >
      <div class="cx-total">
        {{ 'cartDetails.cartName' | cxTranslate: { code: cart.code } }}
      </div>
      <cx-promotions
        [promotions]="getAllPromotionsForCart(cart)"
      ></cx-promotions>

      <ng-template
        *ngIf="this.featureConfigService.isLevel('1.4'); else originalCartList"
      >
        <cx-cart-item-list
          [items]="entries"
          [potentialProductPromotions]="cart.potentialProductPromotions"
          [cartIsLoading]="cartLoading$ | async"
          [optionalButton]="'saveForLaterItems.saveForLater' | cxTranslate"
          (optionalAction)="saveItemForLater($event)"
        ></cx-cart-item-list>
      </ng-template>
      <ng-template #originalCartList>
        <cx-cart-item-list
          [items]="entries"
          [potentialProductPromotions]="cart.potentialProductPromotions"
          [cartIsLoading]="cartLoading$ | async"
        ></cx-cart-item-list>
      </ng-template>
    </div>
  </ng-container>
</ng-container>

<!--Can use Feature flag -->
<ng-container *cxFeature="'selectiveCart'">
  <ng-container *ngIf="sflCart$ | async as sflCart">
    <ng-container *ngIf="sflEntries$ | async as sflEntries">
      <div class="cart-details-wrapper" *ngIf="sflEntries.length > 0">
        <div class="cx-total" data-test="sfl-total">
          {{
            'saveForLaterItems.itemTotal'
              | cxTranslate
                : {
                    count: sflCart.deliveryItemsQuantity
                  }
          }}
        </div>
        <cx-cart-item-list
          [items]="sflEntries"
          [cartIsLoading]="cartLoading$ | async"
          [optionalButton]="'saveForLaterItems.moveToCart' | cxTranslate"
          [isReadOnly]="true"
          (optionalAction)="moveItemToCart($event)"
        ></cx-cart-item-list>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #cartEmpty>
    <div class="cart-details-wrapper">
      <div class="cx-total">
        {{ 'saveForLaterItems.cartTitle' | cxTranslate }}
      </div>
      <div class="d-none d-md-block d-lg-block d-xl-block">
        <div class="cx-empty-cart-header row"></div>
      </div>
      <div class="cx-msg" data-test="cart-empty-msg">
        {{
          'saveForLaterItems.cartEmpty'
            | cxTranslate: { count: (sflCart$ | async).deliveryItemsQuantity }
        }}
      </div>
    </div>
  </ng-template>
</ng-container>
