<!-- <cx-carousel
  [items]="items$ | async"
  [title]="title$ | async"
  [template]="carouselItem"
  itemWidth="285px"
>
</cx-carousel> -->

<!-- SPIKE OK -->

<ng-container
  cxSelector="cx-carousel"
  [inputs]="{
    items: items$ | async,
    title: title$ | async,
    template: carouselItem,
    itemWidth: '285px'
  }"
>
</ng-container>

<ng-template #carouselItem let-item="item">
  <a tabindex="0" [routerLink]="{ cxRoute: 'product', params: item } | cxUrl">
    <cx-media
      *ngIf="item.images?.PRIMARY"
      [container]="item.images.PRIMARY"
      format="product"
    >
    </cx-media>
    <h4>{{ item.name }}SPIKE!</h4>
    <div class="price">{{ item.price?.formattedValue }}</div>
  </a>
</ng-template>
