.cx-item-list-header {
  @include type('8');
  margin: 0;
  padding: 1.125rem 0;
  text-transform: uppercase;
  color: var(--cx-color-secondary);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--cx-color-light);
}

.cx-item-list-desc {
  text-align: start;
  padding: 0;
}

.cx-item-list-price {
  text-align: center;
  padding: 0;
}
