<ng-container>
  <div>
    <!-- Sharingbutton Facebook -->
    <a
      class="resp-sharing-button__link"
      href="https://facebook.com/sharer/sharer.php?u={{ productUrl }}"
      target="_blank"
      rel="noopener"
      aria-label="Facebook"
    >
      <cx-icon [type]="iconTypes.FACEBOOK"></cx-icon>
    </a>

    <!-- Sharingbutton Twitter -->
    <a
      href="https://twitter.com/intent/tweet/?text={{ text }}&amp;url={{
        productUrl
      }}"
      target="_blank"
      rel="noopener"
      aria-label="Twitter"
    >
      <cx-icon [type]="iconTypes.TWITTER"></cx-icon>
    </a>

    <!-- Sharingbutton E-Mail -->
    <a
      href="mailto:?subject={{ text }}&amp;body={{ productUrl }}"
      target="_self"
      rel="noopener"
      aria-label="E-Mail"
    >
      <cx-icon [type]="iconTypes.EMAIL"></cx-icon>
    </a>
  </div>
</ng-container>
