<div class="quantity" *ngIf="productCode && showQuantity">
  <label>{{ 'addToCart.quantity' | cxTranslate }}</label>

  <!-- SPIKE OK -->
  <ng-container
    *ngIf="hasStock"
    cxSelector="cx-item-counter"
    [formControlName]
    [inputs]="{
      value: quantity,
      isValueChangeable: true,
      min: 1,
      max: maxQuantity || null
    }"
    [outputs]="{
      update: updateCount | cxArgs: cxEvent
    }"
    [attributes]="{
      style: 'margin: 50px',
      class: 'colorful-item'
    }"
    [events]="{
      mouseover: highlight
    }"
  ></ng-container>

  <!-- <cx-item-counter-outlet
    [value]="quantity"
    isValueChangeable="true"
    [min]="1"
    [max]="maxQuantity || null"
    *ngIf="hasStock"
    (update)="updateCount($event)"
  ></cx-item-counter-outlet> -->

  <!-- <cx-item-counter
    [value]="quantity"
    isValueChangeable="true"
    [min]="1"
    [max]="maxQuantity || null"
    *ngIf="hasStock"
    (update)="updateCount($event)"
  ></cx-item-counter> -->

  <ng-container></ng-container>

  <span class="info">{{
    hasStock
      ? ('addToCart.inStock' | cxTranslate)
      : ('addToCart.outOfStock' | cxTranslate)
  }}</span>
</div>
<button
  *ngIf="hasStock"
  class="btn btn-primary btn-block"
  type="button"
  [disabled]="quantity <= 0 || quantity > maxQuantity"
  (click)="addToCart()"
>
  {{ 'addToCart.addToCart' | cxTranslate }}
</button>
