<style>
  cx-split-view {
    width: 50%;
    margin: auto;
    border: solid 5px blue;
  }
</style>

<input placeholder="before" />

<cx-split-view [hideMode]="true">
  <cx-view
    >first
    <input placeholder="first" />
    <button (click)="second.toggle()">toggle next</button>
    <ul>
      <li>first</li>
      <li>second</li>
      <li>second</li>
      <li>second</li>
      <li>second</li>
    </ul>
  </cx-view>
  <cx-view #second
    >second
    <input placeholder="second" />
    <ul>
      <li>first</li>
      <li>second</li>
    </ul>
    <button (click)="second.toggle()">close</button>
    <button (click)="third.toggle()">toggle</button>
  </cx-view>
  <cx-view #third
    >third
    <input placeholder="third" />
    <button (click)="third.toggle()">close</button>
    <button (click)="forth.toggle()">next</button>
  </cx-view>
  <cx-view #forth
    >fourth
    <input placeholder="fourth" />
    <button (click)="forth.toggle()">close</button>
  </cx-view>
</cx-split-view>

<!-- <ng-template cxOutlet="cx-storefront">
  <ng-template cxOutlet="cx-header">
    <header
      cxSkipLink="cx-header"
      [cxFocus]="{ disableMouseFocus: true }"
      [class.is-expanded]="isExpanded$ | async"
      (keydown.escape)="collapseMenu()"
      (click)="collapseMenuIfClickOutside($event)"
    >
      <cx-page-layout section="header"></cx-page-layout>
      <cx-page-layout section="navigation"></cx-page-layout>
    </header>
    <cx-page-slot position="BottomHeaderSlot"></cx-page-slot>
    <cx-global-message></cx-global-message>
  </ng-template>

  <main cxSkipLink="cx-main" [cxFocus]="{ disableMouseFocus: true }">
    <router-outlet></router-outlet>
  </main>

  <ng-template cxOutlet="cx-footer">
    <footer cxSkipLink="cx-footer" [cxFocus]="{ disableMouseFocus: true }">
      <cx-page-layout section="footer"></cx-page-layout>
    </footer>
  </ng-template>
</ng-template> -->
