%cx-config-form {
  .cx-config-attribute-header {
    margin-inline-end: 17px;
    margin-inline-start: 17px;
  }

  .cx-config-attribute-footer {
    margin-inline-end: 17px;
    margin-inline-start: 17px;
  }

  .cx-config-attribute-value {
    margin-inline-start: 17px;
    padding-top: 10px;
    padding-inline-end: 34px;
    /*padding: 10px 34px 0 0;*/
    clear: both;
    display: block;
  }

  .cx-config-attribute-value-multi {
    display: inline-block;
  }

  .cx-config-group-attribute {
    padding: 6px 10px;
  }
}
