%cx-config-add-to-cart-button {
  padding: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  .cx-config-add-to-cart-btn {
    @include media-breakpoint-down(sm) {
      width: 100%;
      clear: both;
    }

    padding-inline-end: 15px;
    padding-inline-start: 15px;
    width: 400px;

    align-content: flex-end;
    display: flex;
    /*float: right; */
  }
}
