@import '../../theme';

%cx-close-account-modal {
  background-color: rgba(0, 0, 0, 0.5);

  .cx-account-modal {
    @extend .modal-dialog;
    @extend .modal-dialog-centered;

    .cx-dialog-content {
      @extend .modal-content;
      background-color: var(--cx-color-inverse);
    }
  }

  .cx-dialog-header {
    @extend .modal-header;
    padding: 2rem 1.75rem 0.85rem;
    border-width: 0;

    h3 {
      font-weight: var(--cx-font-weight-semi);
    }
  }

  .cx-row {
    display: flex;
  }

  .cx-confirmation {
    margin: 0 0 3em 0;
  }

  .cx-btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    button:first-child {
      margin: 0 0 1em 0;
    }
  }

  .cx-dialog-body {
    @extend .modal-body;
    @include media-breakpoint-down(sm) {
      top: -85px;
      flex: none;
      margin: auto 0;
    }
  }
}
