// Always bump to the latest (breaking) styles during development.
$useLatestStyles: true;

@import '@spartacus/styles';

// upscale styles

html {
  font-size: 62.5%;
}
upscale-aspect-ratio-image {
  display: block;
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    position: absolute;
    color: white;
    padding: 48px;
  }
}

cx-page-slot.STORYBOOK_slot {
  background-color: rgb(211, 211, 211);
  padding: 24px 0;
}

cx-carousel {
  .carousel-panel {
    position: relative;
    .item {
      margin: 0 7px;
      &:first-child {
        margin-inline-start: 0;
      }
      &:last-child {
        margin-inline-end: 0;
      }
    }

    .previous,
    .next {
      position: absolute;
      z-index: 100;

      top: calc(50% - 1rem);
      color: black;
      opacity: 1;

      background: hsla(0, 0%, 100%, 0.8);

      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
    }
    .next {
      right: 0;
    }
  }
}
