<ng-container *ngIf="component.data$ | async as data">
  <cx-generic-link [url]="data.url" [title]="data.linkName">
    <div class="row {{ data.styleClasses }}">
      <div class="col-12 col-md-2">
        <cx-media
          [container]="data.media"
          [title]="data.media?.altText"
        ></cx-media>
      </div>
      <div class="col-12 col-md-10">
        <p *ngIf="data.linkName" [innerHTML]="data.linkName"></p>
        <p *ngIf="data.content" [innerHTML]="data.content"></p>
      </div>
    </div>
  </cx-generic-link>
</ng-container>
