%ProductDetailsPageTemplate {
  padding: var(--cx-padding, 2.5rem 0 0);

  .img-zoom-result {
    border: 1px solid var(--cx-color-light);
    /*set the size of the result div:*/
    width: 45vw;
    height: 60vh;
    position: absolute;
    right: 3em;
    visibility: hidden;
  }

  .img-zoom-container {
    position: relative;
  }

  .img-zoom-lens {
    position: absolute;
    border: 1px solid var(--cx-color-light);
    visibility: hidden;
  }


  cx-page-slot {
    &.Summary {
      @extend .container !optional;
      margin-bottom: 40px;

      @include media-breakpoint-up(lg) {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto) 1fr;

        cx-product-images {
          grid-column: 1;
          grid-row: 1 / span 3;
        }

        cx-product-intro {
          grid-column: 2;
          grid-row: 1 / 2;
        }

        cx-product-summary {
          grid-column: 2;
          grid-row: 2 / 3;
        }

        cx-add-to-cart {
          grid-column: 2;
          grid-row: 3 / 4;
          padding: 0 20px 20px 20px;
        }

        cx-stock-notification {
          grid-column: 2;
          grid-row: 3 / 4;
          padding: 20% 20px 20px 20px;
        }

        cx-stock-notification:empty {
          display: none;
        }
      }
    }

    &.AddToCart {
      max-width: 50%;
    }

    &.UpSelling,
    &.CrossSelling {
      max-width: 1140px;
      margin: auto;
    }
  }

  .tab-delivery {
    @extend .container !optional;
  }
}
